<% include ./partials/header %>

<section id="showSection">
    <div>
	   <img src="<%= blog.image %>"  id="showSectionImage" width="900px" height="600px">
    </div>
    <div id="showSectionText">
    	<div>
    		<h3><%= blog.title %></h3>	
    	</div>
    	<div>
        	<p> <%- blog.body %></a></p>
        </div>
        <div>
        	<p><em> <%= blog.created.toDateString() %> by <b><%= blog.author.username %></b> </em></p>
        </div>
        <% if(blog.author.id.equals(currentUser._id)){ %>
            <a title="edit" id="editLink" href="/blogs/<%= blog._id %>/edit"><i class="small material-icons">edit</i></a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteForm" title="delete">
                <a href="javascript:{}" onclick="document.getElementById('deleteForm').submit();"><i class="small material-icons">delete</i></a>
            </form>
        <% } %>
    </div>
</section>

<% include ./partials/footer %>