<% include ./partials/header %>

<section id="showSection">
    <div>
	   <img src="<%= blog.image %>"  id="showSectionImage" width="900px" height="600px">
    </div>
    <div id="showSectionText">
    	<div>
    		<h3><%= blog.title %></h3>	
    	</div>
    	<div>
        	<p> <%- blog.body %></a></p>
        </div>
        <div>
        	<p><em> <%= blog.created.toDateString() %> </em></p>
        </div>
        <div>
            <p>Submitted by <b><%= blog.author.username %></b></p>
        </div>
        <% if(blog.author.id.equals(currentUser._id)){ %>
            <a id="editLink" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteForm">
                <a href="javascript:{}" onclick="document.getElementById('deleteForm').submit();">Delete</a>
            </form>
        <% } %>
    </div>
</section>

<% include ./partials/footer %>