<% include ./partials/header %>

<section id="showSection">
	<img src="<%= blog.image %>">
	<div>
		<h3><%= blog.title %></h3>	
	</div>
	<div>
    	<p> <%- blog.desc %>...</a></p>
    </div>
    <div>
    	<p><em> <%= blog.created.toDateString() %> </em></p>
    </div>
    <a href="/blogs/<%= blog._id %>/edit">Edit</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteForm">
         <a href="javascript:{}" onclick="document.getElementById('deleteForm').submit();">Delete</a>
    </form>
</section>

<% include ./partials/footer %>