<% include ./partials/header %>

<section id="showSection">
	<img src="<%= blog.image %>">
	<div>
		<h3><%= blog.title %></h3>	
	</div>
	<div>
    	<p> <%- blog.body %>...</a></p>
    </div>
    <div>
    	<p><em> <%= blog.created.toDateString() %> </em></p>
    </div>
    <a href="/blogs/<%= blog._id %>/edit"><button class="btn btn-md btn-primary">Edit</button></a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-md btn-danger">Delete</button>
    </form>
</section>

<% include ./partials/footer %>